NODE_ENV=development
PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/deccan_elegance
# For MongoDB Atlas: mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/deccan_elegance?retryWrites=true&w=majority
JWT_SECRET=supersecretkeyforjsonwebtoken

